extends ./layout.jade

block main
    .g-container
        section.b-news
            h3.g-title.g-title_blue НОВОСТНАЯ ЛЕНТА
            .b-news__list
                section.b-news__item
                    .b-news__img-wrap
                        img.b-news__img(src='./img/uploads/news.jpg', alt='Отмена виз с Израилем произойдет не ранее весны следующего года')
                    .b-news__wrap
                        h4.b-news__title Отмена виз с Израилем произойдет не ранее весны следующего года
                        time.b-news__date Дата: 16.12.2014
                        p.b-news__teaser Израильский посол на встрече в Минске в начале декабря сообщил, что отмена визового режима с его государством осуществиться весной 2015 года. Соглашения между двумя странами о безвизовом режиме для обладающих национальными
                        a.g-btn.g-btn_long(href='/')  читать подробности
                section.b-news__item
                    .b-news__img-wrap
                        img.b-news__img(src='./img/uploads/news.jpg', alt='Отмена виз с Израилем произойдет не ранее весны следующего года')
                    .b-news__wrap
                        h4.b-news__title Отмена виз с Израилем произойдет не ранее весны следующего года
                        time.b-news__date Дата: 16.12.2014
                        p.b-news__teaser Израильский посол на встрече в Минске в начале декабря сообщил, что отмена визового режима с его государством осуществиться весной 2015 года. Соглашения между двумя странами о безвизовом режиме для обладающих национальными
                        a.g-btn.g-btn_long(href='/')  читать подробности
                section.b-news__item
                    .b-news__img-wrap
                        img.b-news__img(src='./img/uploads/news.jpg', alt='Отмена виз с Израилем произойдет не ранее весны следующего года')
                    .b-news__wrap
                        h4.b-news__title Отмена виз с Израилем произойдет не ранее весны следующего года
                        time.b-news__date Дата: 16.12.2014
                        p.b-news__teaser Израильский посол на встрече в Минске в начале декабря сообщил, что отмена визового режима с его государством осуществиться весной 2015 года. Соглашения между двумя странами о безвизовом режиме для обладающих национальными
                        a.g-btn.g-btn_long(href='/')  читать подробности
                section.b-news__item
                    .b-news__img-wrap
                        img.b-news__img(src='./img/uploads/news.jpg', alt='Отмена виз с Израилем произойдет не ранее весны следующего года')
                    .b-news__wrap
                        h4.b-news__title Отмена виз с Израилем произойдет не ранее весны следующего года
                        time.b-news__date Дата: 16.12.2014
                        p.b-news__teaser Израильский посол на встрече в Минске в начале декабря сообщил, что отмена визового режима с его государством осуществиться весной 2015 года. Соглашения между двумя странами о безвизовом режиме для обладающих национальными
                        a.g-btn.g-btn_long(href='/')  читать подробности
                section.b-news__item
                    .b-news__img-wrap
                        img.b-news__img(src='./img/uploads/news.jpg', alt='Отмена виз с Израилем произойдет не ранее весны следующего года')
                    .b-news__wrap
                        h4.b-news__title Отмена виз с Израилем произойдет не ранее весны следующего года
                        time.b-news__date Дата: 16.12.2014
                        p.b-news__teaser Израильский посол на встрече в Минске в начале декабря сообщил, что отмена визового режима с его государством осуществиться весной 2015 года. Соглашения между двумя странами о безвизовом режиме для обладающих национальными
                        a.g-btn.g-btn_long(href='/')  читать подробности
            .b-pagination
                ul.b-pagination__list.g-unstyled
                    li.b-pagination__item
                        a.b-pagination__link(href='/') назад
                    li.b-pagination__item
                        a.b-pagination__link(href='/') 1
                    li.b-pagination__item.active
                        a.b-pagination__link(href='/') 2
                    li.b-pagination__item
                        a.b-pagination__link(href='/') 3
                    li.b-pagination__item
                        a.b-pagination__link(href='/') ...
                    li.b-pagination__item
                        a.b-pagination__link(href='/') 8
                    li.b-pagination__item
                        a.b-pagination__link(href='/') вперёд
