doctype
html.no-js
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        title
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css')
        link(href='http://fonts.googleapis.com/css?family=PT+Sans:400italic&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css')
        link(href='/css/normalize.css', rel='stylesheet')
        link(href='/css/main.css', rel='stylesheet')
        link(href='/css/widgets.css', rel='stylesheet')
        script(src='javascripts/vendor/modernizr-2.7.1.min.js')
    body
        .b-form
            .b-form__wrap
                form.b-form__form
                    h3.b-form__title оставить заявку на оформление визы
                    .b-form__group
                        label.b-form__label(for='name') Ваше имя
                        input.b-form__itext(id='name', type='text', name='name')
                    .b-form__group
                        label.b-form__label(for='phone') Ваш телефон:
                        input.b-form__itext(id='phone', type='text', name='name')
                    .b-form__group.b-form__group_btns
                        input.b-form__send(type='submit', value='Заказать звонок')
                .b-form__plane