extends ./layout.jade
block body
    body
        .b-form
            .b-form__wrap
                form.b-form__form#js-visaform
                    h3.b-form__title оставить заявку на оформление визы
                    input(type='hidden', name='country')
                    .b-form__group
                        label.b-form__label(for='name') Ваше имя
                        input.b-form__itext(id='name', type='text', name='name')
                    .b-form__group
                        label.b-form__label(for='phone') Ваш телефон:
                        input.b-form__itext(id='phone', type='text', name='phone')
                    .b-form__group
                        .b-form__group.b-form__group_inner
                            label.b-form__label.b-form__label_inline(for='single') Однократная:
                                input.b-form__iradio.js-radio(id='single', type='radio', name='group' value='single' checked='checked')
                        .b-form__group.b-form__group_inner
                            label.b-form__label.b-form__label_inline(for='reusable') Многократная:
                                input.b-form__iradio.js-radio(id='reusable', type='radio', name='group' value='reusable')
                    .b-form__group
                        .b-form__group.b-form__group_inner
                            label.b-form__label(for='count') Колличество персон:
                        .b-form__group.b-form__group_inner.js-count-module
                            span.b-form__spiner.b-form__spiner_left.js-spiner.js-minus -
                            input.b-form__itext.b-form__itext_inline.js-num-input(id='count', type='text', name='count', value='1')
                            span.b-form__spiner.b-form__spiner_right.js-spiner.js-plus +
                    .b-form__group.b-form__group_btns
                        input.b-form__send(type='submit', value='Заказать')
                .b-form__plane