$s-arr-b-blue = 172px 107px -172px -107px 46px 21px 291px 223px 'sprite.png';
$s-arr-b = 172px 128px -172px -128px 46px 21px 291px 223px 'sprite.png';
$s-arr-bb = 223px 191px -223px -191px 46px 21px 291px 223px 'sprite.png';
$s-arr-l = 0px 0px 0px 0px 36px 156px 291px 223px 'sprite.png';
$s-arr-r = 36px 0px -36px 0px 36px 156px 291px 223px 'sprite.png';
$s-bracket-hbl = 72px 0px -72px 0px 50px 100px 291px 223px 'sprite.png';
$s-bracket-hbr = 122px 0px -122px 0px 50px 100px 291px 223px 'sprite.png';
$s-bracket-l = 250px 131px -250px -131px 27px 60px 291px 223px 'sprite.png';
$s-bracket-r = 223px 131px -223px -131px 27px 60px 291px 223px 'sprite.png';
$s-bracket-sl = 172px 67px -172px -67px 19px 40px 291px 223px 'sprite.png';
$s-bracket-sr = 191px 67px -191px -67px 20px 39px 291px 223px 'sprite.png';
$s-dot-h = 277px 152px -277px -152px 10px 10px 291px 223px 'sprite.png';
$s-dot = 277px 142px -277px -142px 10px 10px 291px 223px 'sprite.png';
$s-ic1 = 133px 156px -133px -156px 66px 66px 291px 223px 'sprite.png';
$s-ic2 = 223px 0px -223px 0px 68px 66px 291px 223px 'sprite.png';
$s-ic3 = 223px 66px -223px -66px 66px 65px 291px 223px 'sprite.png';
$s-ic4 = 0px 156px 0px -156px 67px 67px 291px 223px 'sprite.png';
$s-ic5 = 67px 156px -67px -156px 66px 66px 291px 223px 'sprite.png';
$s-ic6 = 172px 0px -172px 0px 51px 67px 291px 223px 'sprite.png';
$s-sarr = 277px 131px -277px -131px 5px 11px 291px 223px 'sprite.png';

spriteWidth($sprite)
    width $sprite[4]

spriteHeight($sprite)
    height $sprite[5]

spritePosition($sprite)
    background-position $sprite[2] $sprite[3]

spriteImage($sprite)
    background-image url(../img/bg/$sprite[8])

sprite($sprite)
    spritePosition($sprite)
    spriteWidth($sprite)
    spriteHeight($sprite)