.b-condition
    .b-condition__bg
        .g-container
            .b-condition__wrap
                h3.g-title.g-title_arrow условия и тарифы на шенген
                table.b-condition__table
                    thead.b-table__titles
                        tr
                            th.b-table__title
                                span страна
                            th.b-table__title
                                span тип визы
                            th.b-table__title
                                span Условия
                            th.b-table__title
                                span цена

                    tbody.b-table__body
                        tr.b-table__row
                            td.b-table__td(rowspan='2')
                                span.b-condition__country ЛИТВА
                            td.b-table__td
                                span.b-condition__type ОДНОКРАТНАЯ
                            td.b-table__td
                                ul.b-condition__list.g-unstyled
                                    li.b-condition-list__item
                                        span.b-condition-list__text.b-condition-list__text_left Срок пребывания
                                        span.b-condition-list__text.b-condition-list__text_right 10 дней
                                    li.b-condition-list__item
                                        span.b-condition-list__text.b-condition-list__text_left  Срок оформления
                                        span.b-condition-list__text.b-condition-list__text_right  4 дня
                                    li.b-condition-list__item
                                        span.b-condition-list__text.b-condition-list__text_left Подача документов
                                        span.b-condition-list__text.b-condition-list__text_right в течении суток
                            td.b-table__td
                                span.b-condition__price 10 у.е.
                            td.b-table__td.b-table__td_nb(rowspan='2')
                                a.g-btn.g-btn_swhite.js-fancybox(href='/visaform.html', data-fancybox-type="iframe") Заказать визу
                        tr.b-table__row
                            td.b-table__td
                                span.b-condition__type Многократная
                            td.b-table__td
                                ul.b-condition__list.g-unstyled
                                    li.b-condition-list__item
                                        span.b-condition-list__text.b-condition-list__text_left Срок пребывания
                                        span.b-condition-list__text.b-condition-list__text_right 10 дней
                                    li.b-condition-list__item
                                        span.b-condition-list__text.b-condition-list__text_left  Срок оформления
                                        span.b-condition-list__text.b-condition-list__text_right  4 дня
                                    li.b-condition-list__item
                                        span.b-condition-list__text.b-condition-list__text_left Подача документов
                                        span.b-condition-list__text.b-condition-list__text_right в течении суток
                            td.b-table__td
                                span.b-condition__price 10 у.е.
                        tr.b-table__row
                            td.b-table__td(rowspan='2')
                                span.b-condition__country ЛИТВА
                            td.b-table__td
                                span.b-condition__type ОДНОКРАТНАЯ
                            td.b-table__td
                                ul.b-condition__list.g-unstyled
                                    li.b-condition-list__item
                                        span.b-condition-list__text.b-condition-list__text_left Срок пребывания
                                        span.b-condition-list__text.b-condition-list__text_right 10 дней
                                    li.b-condition-list__item
                                        span.b-condition-list__text.b-condition-list__text_left  Срок оформления
                                        span.b-condition-list__text.b-condition-list__text_right  4 дня
                                    li.b-condition-list__item
                                        span.b-condition-list__text.b-condition-list__text_left Подача документов
                                        span.b-condition-list__text.b-condition-list__text_right в течении суток
                            td.b-table__td
                                span.b-condition__price 10 у.е.
                            td.b-table__td.b-table__td_nb(rowspan='2')
                                a.g-btn.g-btn_swhite.js-fancybox.fancybox.iframe(href='/visaform.html', data-fancybox-type="iframe") Заказать визу
                        tr.b-table__row
                            td.b-table__td
                                span.b-condition__type Многократная
                            td.b-table__td
                                ul.b-condition__list.g-unstyled
                                    li.b-condition-list__item
                                        span.b-condition-list__text.b-condition-list__text_left Срок пребывания
                                        span.b-condition-list__text.b-condition-list__text_right 10 дней
                                    li.b-condition-list__item
                                        span.b-condition-list__text.b-condition-list__text_left  Срок оформления
                                        span.b-condition-list__text.b-condition-list__text_right  4 дня
                                    li.b-condition-list__item
                                        span.b-condition-list__text.b-condition-list__text_left Подача документов
                                        span.b-condition-list__text.b-condition-list__text_right в течении суток
                            td.b-table__td
                                span.b-condition__price 10 у.е.
                        tr.b-table__row
                            td.b-table__td(rowspan='2')
                                span.b-condition__country ЛИТВА
                            td.b-table__td
                                span.b-condition__type ОДНОКРАТНАЯ
                            td.b-table__td
                                ul.b-condition__list.g-unstyled
                                    li.b-condition-list__item
                                        span.b-condition-list__text.b-condition-list__text_left Срок пребывания
                                        span.b-condition-list__text.b-condition-list__text_right 10 дней
                                    li.b-condition-list__item
                                        span.b-condition-list__text.b-condition-list__text_left  Срок оформления
                                        span.b-condition-list__text.b-condition-list__text_right  4 дня
                                    li.b-condition-list__item
                                        span.b-condition-list__text.b-condition-list__text_left Подача документов
                                        span.b-condition-list__text.b-condition-list__text_right в течении суток
                            td.b-table__td
                                span.b-condition__price 10 у.е.
                            td.b-table__td.b-table__td_nb(rowspan='2')
                                a.g-btn.g-btn_swhite.js-fancybox.fancybox.iframe(href='/visaform.html', data-fancybox-type="iframe") Заказать визу
                        tr.b-table__row
                            td.b-table__td
                                span.b-condition__type Многократная
                            td.b-table__td
                                ul.b-condition__list.g-unstyled
                                    li.b-condition-list__item
                                        span.b-condition-list__text.b-condition-list__text_left Срок пребывания
                                        span.b-condition-list__text.b-condition-list__text_right 10 дней
                                    li.b-condition-list__item
                                        span.b-condition-list__text.b-condition-list__text_left  Срок оформления
                                        span.b-condition-list__text.b-condition-list__text_right  4 дня
                                    li.b-condition-list__item
                                        span.b-condition-list__text.b-condition-list__text_left Подача документов
                                        span.b-condition-list__text.b-condition-list__text_right в течении суток
                            td.b-table__td
                                span.b-condition__price 10 у.е.
                        tr.b-table__row
                            td.b-table__td(rowspan='2')
                                span.b-condition__country ЛИТВА
                            td.b-table__td
                                span.b-condition__type ОДНОКРАТНАЯ
                            td.b-table__td
                                ul.b-condition__list.g-unstyled
                                    li.b-condition-list__item
                                        span.b-condition-list__text.b-condition-list__text_left Срок пребывания
                                        span.b-condition-list__text.b-condition-list__text_right 10 дней
                                    li.b-condition-list__item
                                        span.b-condition-list__text.b-condition-list__text_left  Срок оформления
                                        span.b-condition-list__text.b-condition-list__text_right  4 дня
                                    li.b-condition-list__item
                                        span.b-condition-list__text.b-condition-list__text_left Подача документов
                                        span.b-condition-list__text.b-condition-list__text_right в течении суток
                            td.b-table__td
                                span.b-condition__price 10 у.е.
                            td.b-table__td.b-table__td_nb(rowspan='2')
                                a.g-btn.g-btn_swhite.js-fancybox.fancybox.iframe(href='/visaform.html', data-fancybox-type="iframe") Заказать визу
                        tr.b-table__row
                            td.b-table__td
                                span.b-condition__type Многократная
                            td.b-table__td
                                ul.b-condition__list.g-unstyled
                                    li.b-condition-list__item
                                        span.b-condition-list__text.b-condition-list__text_left Срок пребывания
                                        span.b-condition-list__text.b-condition-list__text_right 10 дней
                                    li.b-condition-list__item
                                        span.b-condition-list__text.b-condition-list__text_left  Срок оформления
                                        span.b-condition-list__text.b-condition-list__text_right  4 дня
                                    li.b-condition-list__item
                                        span.b-condition-list__text.b-condition-list__text_left Подача документов
                                        span.b-condition-list__text.b-condition-list__text_right в течении суток
                            td.b-table__td
                                span.b-condition__price 10 у.е.
            .b-condition__wrap
                h3.g-title все страны
                table.b-condition__table
                    thead.b-table__titles
                        tr
                            th.b-table__title.b-table__title_orange
                                span европа
                            th.b-table__title.b-table__title_orange
                                span Азия
                            th.b-table__title.b-table__title_orange
                                span африка
                            th.b-table__title.b-table__title_orange
                                span северная америка
                            th.b-table__title.b-table__title_orange
                                span южная америка
                    tbody.b-table__body
                        tr.b-table__row
                            td.b-table__td.b-table__td_nb
                                ul.b-condition__list.g-unstyled
                                    li.b-condition-list__item
                                        a.b-condition-list__text.b-condition-list__text_left(href='/') Литва
                                    li.b-condition-list__item
                                        a.b-condition-list__text.b-condition-list__text_left(href='/') Латвия
                                    li.b-condition-list__item
                                        a.b-condition-list__text.b-condition-list__text_left(href='/') Эстония
                                    li.b-condition-list__item
                                        a.b-condition-list__text.b-condition-list__text_left(href='/') Германия
                            td.b-table__td.b-table__td_nb
                                ul.b-condition__list.g-unstyled
                                    li.b-condition-list__item
                                        a.b-condition-list__text.b-condition-list__text_left(href='/') Литва
                                    li.b-condition-list__item
                                        a.b-condition-list__text.b-condition-list__text_left(href='/') Латвия
                                    li.b-condition-list__item
                                        a.b-condition-list__text.b-condition-list__text_left(href='/') Эстония
                                    li.b-condition-list__item
                                        a.b-condition-list__text.b-condition-list__text_left(href='/') Германия
                            td.b-table__td.b-table__td_nb
                                ul.b-condition__list.g-unstyled
                                    li.b-condition-list__item
                                        a.b-condition-list__text.b-condition-list__text_left(href='/') Литва
                                    li.b-condition-list__item
                                        a.b-condition-list__text.b-condition-list__text_left(href='/') Латвия
                                    li.b-condition-list__item
                                        a.b-condition-list__text.b-condition-list__text_left(href='/') Эстония
                                    li.b-condition-list__item
                                        a.b-condition-list__text.b-condition-list__text_left(href='/') Германия
                            td.b-table__td.b-table__td_nb
                                ul.b-condition__list.g-unstyled
                                    li.b-condition-list__item
                                        a.b-condition-list__text.b-condition-list__text_left(href='/') Литва
                                    li.b-condition-list__item
                                        a.b-condition-list__text.b-condition-list__text_left(href='/') Латвия
                                    li.b-condition-list__item
                                        a.b-condition-list__text.b-condition-list__text_left(href='/') Эстония
                                    li.b-condition-list__item
                                        a.b-condition-list__text.b-condition-list__text_left(href='/') Германия
                            td.b-table__td.b-table__td_nb
                                ul.b-condition__list.g-unstyled
                                    li.b-condition-list__item
                                        a.b-condition-list__text.b-condition-list__text_left(href='/') Литва
                                    li.b-condition-list__item
                                        a.b-condition-list__text.b-condition-list__text_left(href='/') Латвия
                                    li.b-condition-list__item
                                        a.b-condition-list__text.b-condition-list__text_left(href='/') Эстония
                                    li.b-condition-list__item
                                        a.b-condition-list__text.b-condition-list__text_left(href='/') Германия