.b-requisites
    .g-container
        .g-title.g-title_blue Наши контакты
        .b-requisites-wrap
            .b-requisites__map
                script(type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=JR6fB-e3t9I-9PnpAH1up4knWP8Jr2R-&width=100%&height=214")
            .b-requisites__inner
                .b-requisites__item-wrap
                    .b-requisites__item
                        h4.b-requisites__title НАШ ТЕЛЕФОН
                        div.b-requisites__phone +375 (17)
                            span.b-requisites__phone_bold 569-36-17
                        div.b-requisites__phone +375 (17)
                            span.b-requisites__phone_bold 569-36-17
                        div.b-requisites__worktime Пн-Пт с 9.00 до 21.00
                    .b-requisites__item
                        h4.b-requisites__title НАШ АДРЕС:
                        .b-requisites__address
                            |'РБ г. Минск <br/>
                            |ул. Шафаранянская <br/>
                            |дом 18, оф.7'
                    .b-requisites__item
                        h4.b-requisites__title РЕЖИМ РАБОТЫ
                        div.b-requisites__worktime Пн-Пт с 9.00 до 21.00
                        div.b-requisites__worktime Пн-Пт с 9.00 до 21.00

                .b-requisites__btn
                    a.g-btn_hblue.g-btn.js-fancybox.fancybox.iframe(href='/orderform.html', data-fancybox-type="iframe") ЗАКАЗАТЬ ЗВОНОК