nav.b-mainnaw
    .g-container
        ul.b-mainnaw__list.g-unstyled
            li.b-mainnaw__item.b-mainnaw__item_active
                a.b-mainnaw__link Шенген
            li.b-mainnaw__item
                a.b-mainnaw__link Все страны
            li.b-mainnaw__item
                a.b-mainnaw__link Однократная виза
            li.b-mainnaw__item
                a.b-mainnaw__link Многократная виза
            li.b-mainnaw__item
                a.b-mainnaw__link Акции
            li.b-mainnaw__item
                a.b-mainnaw__link Контакты
            li.b-mainnaw__item
                a.b-mainnaw__link Новости
            li.b-mainnaw__item
                a.b-mainnaw__link Частные вопросы