.b-reviews
    .g-container
        .g-title.g-title_arrow.g-title_blue отзывы наших клиентов
        .b-reviews__wrap
            .b-review
                .b-review__img-wrap
                    img.b-review__img(src='/img/review/ava1.png',alt='аватарка')
                .b-review__wrap
                    .b-review__text «Отличный сервис, все сделали быстро. Получила мультишенген Литвы на 3-й рабочий день. Спасибо за вашу работу, всё на высшем уровне с минимальным пакетом документов. Теперь можно минимум на год забыть о посольствах и визовых центрах. »
                    .b-review__respondent Диана 23 лет (Минск)
            .b-review
                .b-review__wrap
                    .b-review__text.b-review__text_right «Отличный сервис, все сделали быстро. Получила мультишенген Литвы на 3-й рабочий день. Спасибо за вашу работу, всё на высшем уровне с минимальным пакетом документов. Теперь можно минимум на год забыть о посольствах и визовых центрах. »
                    .b-review__respondent.b-review__respondent_right Диана 23 лет (Минск)
                .b-review__img-wrap.b-review__img-wrap_right
                    img.b-review__img(src='/img/review/ava2.png',alt='аватарка')
            .b-review
                .b-review__img-wrap
                    img.b-review__img(src='/img/review/ava3.png',alt='аватарка')
                .b-review__wrap
                    .b-review__text «Отличный сервис, все сделали быстро. Получила мультишенген Литвы на 3-й рабочий день. Спасибо за вашу работу, всё на высшем уровне с минимальным пакетом документов. Теперь можно минимум на год забыть о посольствах и визовых центрах. »
                    .b-review__respondent Диана 23 лет (Минск)

