.b-whyus
    if decor
        .b-whyus__decor.b-whyus__decor_top
    .g-container
        .b-whyus__wrap
            h3.g-title.g-title_arrow.g-title_blue почему выбирают нас?
            ul.b-whyus__list.g-unstyled
                li.b-whyus__option
                    .b-option
                        .b-option__icon.g-icon.g-icon_ic1
                        .b-option__title  10 лет на рынке
                        .b-option__text Долгий опыт на этом рынке позволил нам стать лучшими в этом деле...
                li.b-whyus__option
                    .b-option
                        .b-option__icon.g-icon.g-icon_ic2
                        .b-option__title  Отзывчивый персонал
                        .b-option__text У нас работают самы отзывчивые и квалифмцмрованные рботники которые помогут вам...
                li.b-whyus__option
                    .b-option
                        .b-option__icon.g-icon.g-icon_ic3
                        .b-option__title  Гарантия качества
                        .b-option__text Мы гарантируем Вам качество нашей работы. Вы получите максимальный результат...
                li.b-whyus__option
                    .b-option
                        .b-option__icon.g-icon.g-icon_ic4
                        .b-option__title  самые низкие цены
                        .b-option__text У нам Вы найдете самые низкие цены на одноратные и многократные визы...
                li.b-whyus__option
                    .b-option
                        .b-option__icon.g-icon.g-icon_ic5
                        .b-option__title  Быстрое оформление
                        .b-option__text Самое быстрое оформление виз. Мы сделаем всё что бы Вам было комфортно с нами...
                li.b-whyus__option
                    .b-option
                        .b-option__icon.g-icon.g-icon_ic6
                        .b-option__title  Простота в заполнении
                        .b-option__text Простота оформления заявки, даёт вам возможность получить результат за коротное время...
    if decor
        .b-whyus__decor.b-whyus__decor_bottom