.b-worksteps
    .g-container
        h3.g-title.g-title_arrow Как мы работаем
            i.g-icon.g-icon_arrow-down
        ul.b-worksteps__list.g-unstyled
            li.b-worksteps__item
                figure.b-worksteps__figure
                    img.b-worksteps__img(src='/img/worksteps/step1.png',)
                    .b-worksteps__caption оставляете заявку
            li.b-worksteps__item
                figure.b-worksteps__figure
                    img.b-worksteps__img(src='/img/worksteps/step2.png',)
                    .b-worksteps__caption с вами связывается менеджер
            li.b-worksteps__item
                figure.b-worksteps__figure
                    img.b-worksteps__img(src='/img/worksteps/step3.png',)
                    .b-worksteps__caption устанавливаются сроки
            li.b-worksteps__item
                figure.b-worksteps__figure
                    img.b-worksteps__img(src='/img/worksteps/step4.png',)
                    .b-worksteps__caption оформляются документы
            li.b-worksteps__item
                figure.b-worksteps__figure
                    img.b-worksteps__img(src='/img/worksteps/step5.png',)
                    .b-worksteps__caption производиться оплата
            li.b-worksteps__item
                figure.b-worksteps__figure
                    img.b-worksteps__img(src='/img/worksteps/step6.png',)
                    .b-worksteps__caption Виза готова

