@import '/mixin/mixins'
@import '/mixin/sprite'

/*Переменные настройки*/
headerHeight = auto
footerHeight = 125px
placeholderColor = #000
containerWidth = 980px

/*Стилизация placeholder*/
*
  box-sizing border-box
  inline-box-align align-content

/*placeholder*/
input
  placeholder(#ffffff)

/*сброс стилей для списков*/
.g-unstyled
  margin 0
  padding 0
  list-style none
/*Скрытие текста*/
.g-replace-text
  text-hide()
/* Иконки*/
.g-icon
  display block
  spriteImage($s-arr-l)

.g-icon_arr-l
  spritePosition($s-arr-l)
  spriteWidth($s-arr-l)
.g-icon_arr-r
  spritePosition($s-arr-r)
  spriteWidth($s-arr-r)

.g-icon_arr-l
.g-icon_arr-r
  height 78px
.g-icon_arr-l
  &:hover
    background-position: 0px -78px;
.g-icon_arr-r
  &:hover
    background-position: -36px -78px;
.g-icon_dot
  spritePosition($s-dot)
  spriteWidth($s-dot)
  spriteHeight($s-dot)
  &:hover
  &.active
    spritePosition($s-dot-h)
    spriteWidth($s-s-dot-h)
    spriteHeight($s-s-dot-h)
.g-icon_ic1
  sprite($s-ic1)
.g-icon_ic2
  sprite($s-ic2)
.g-icon_ic3
  sprite($s-ic3)
.g-icon_ic4
  sprite($s-ic4)
.g-icon_ic5
  sprite($s-ic5)
.g-icon_ic6
  sprite($s-ic6)
  /*Футер к низу страницы*/
html
body
  height 100%
  font normal 16px 'PT Sans Narrow'
.g-wrapper
  min-height: 100%
  height auto !important
  height 100%
  margin 0 auto - footerHeight
.g-footer-push
  height footerHeight
.b-footer
  height footerHeight
.b-body
  background url("/img/bg/gplaypattern.png")
.g-container
  width containerWidth
  margin 0 auto
  outline 1px solid red

.g-title
  margin 0 0 44px 0
  color white
  font-size 36px
  font-weight bold
  text-align center
  line-height 36px
  text-transform uppercase
.g-title_arrow
  margin 0 0 24px 0
  &:after
    content ''
    display block
    margin 12px auto 0
    spriteImage($s-arr-b)
    sprite($s-arr-b)

.g-title_blue
  color #71c3df

.g-btn
  position relative
  display inline-block
  height 60px
  color #ffffff
  font-size 23px
  font-weight bold
  line-height 60px
  text-transform uppercase
  text-decoration none
  &:before
  &:after
    content ''
    position absolute
    top 0
    spriteImage($s-bracket-r)
  &:before
    left 0
    sprite($s-bracket-l)
  &:after
    right 0
    sprite($s-bracket-r)
  &:hover
  &:active
    background white
    color #ffba00
.g-btn_white
  padding 0 17px
  &:before
    sprite($s-bracket-l)
  &:after
    sprite($s-bracket-r)
.g-btn_swhite
  padding 0 22px
.g-btn_blue
  width 100%
  height 100px
  line-height 100px
.g-btn_long
  height 40px
  padding 0 45px
  color #7c7c7c
  font-size 16px
  font-weight bold
  text-transform uppercase
  line-height 40px
  &:before
    sprite($s-bracket-sl)
  &:after
    sprite($s-bracket-sr)
  &:hover
  &:active
    color #71c3df
